h1, h2, h3, h4, h5, h6, body{
    color: #EFE9FF;
}

main, footer{
   background-color: #00132D; 
}

#card{
    background-color: #002657;
    border-radius: 15px;
}

#glass{
    /* From https://css.glass */
    background: rgba(0, 38, 87, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(0, 38, 87, 0.04);
    height: 60px;
    margin-top: 10px;
}

img{
    border-radius: 15px;
}

#logo{
    border-radius: 0px;
}