

#addRevB{
    color: #EFE9FF;
    text-align: left;
}

#addRevStyle{
    height: 70%;
    width: 70%;
    position: center;
    background: #0F2C52;
    border: 1px solid #EFE9FF;
    border-radius: 20px;
}

.modal-content{
    background-color: #0F2C52;
}

#review_section {
    height: 458.4px;
    overflow-y: scroll;
}