@import "../general.css";

html,body {
	background: var(--bg-gradient);
	overflow: hidden;
}

body {
	position: relative;
}

img {
	border-radius: 0px;
}

h1 {
    margin: 2rem auto 0;
	display: block;
    gap: 6px;
	align-items: center;
	text-align: center;
	font-size: clamp(56px, 8.2vw, 96px);
	font-weight: 800;
	letter-spacing: 5px;
    max-width: 570px;
}

.btn {
	margin-top: 40px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    width: clamp(200px, 30vw, 300px);
	height: clamp(70px, 8vw, 84px);
}

#arrow {
	width: clamp(20px, 2vw, 24px);
	height: clamp(20px, 2vw, 24px);
}

#signupBtn {
	font-size: clamp(16px, 2vw, 25px);
}

#loginBtn {
	font-size: clamp(16px, 2vw, 25px);
}

#guestBtn {
	font-size: clamp(12px, 2vw, 20px);
}

.img-fluid {
	margin-bottom: 2rem;
}

#bg-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	overflow: hidden;
}