@import "./general.css";

:root {
    --bg: #00132D;
	--bg-gradient: linear-gradient(0deg, rgba(0, 19, 45, 0.70) 0%, rgba(0, 19, 45, 0.70) 100%);
    --theme-text: #EFE9FF;
    --button-default: #002657;
}

html,body {
	background: var(--bg-gradient);
    margin: 0;
    font-family: DM Sans, sans-serif;
    padding: 0;
	width: 100%;
	height: 100%;
}

h1 {
    margin: 2rem auto 0;
	display: block;
    gap: 6px;
	align-items: center;
	text-align: center;
	color: var(--theme-text);
	font-size: clamp(56px, 8.2vw, 96px);
	font-weight: 800;
	letter-spacing: 5px;
    max-width: 570px;
}

.btn {
	margin-top: 40px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    width: clamp(200px, 30vw, 300px);
	height: clamp(70px, 8vw, 84px);
}

#arrow {
	width: clamp(20px, 2vw, 24px);
	height: clamp(20px, 2vw, 24px);
}

#signupBtn {
	font-size: clamp(16px, 2vw, 25px);
}

#loginBtn {
	font-size: clamp(16px, 2vw, 25px);
}

#guestBtn {
	font-size: clamp(12px, 2vw, 20px);
}

.landerBtn {
	margin-top: 40px;
    width: 300px;
	height: 84px;
	border: none;
	border-radius: 30px;
	background: var(--button-default);
	color: #fff;
	font-family: "DM Sans", sans-serif;
	font-size: 25px;
	font-weight: 600;
	line-height: normal;
	justify-content: center;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

#guestBtn {
	font-size: 20px;
}

.img-fluid {
	margin-bottom: 2rem;
}

#bg-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	overflow: hidden;
}

.p-5 {
	padding: 5rem !important;
}