<HTML>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="..\general.css">
    <link rel="stylesheet" href="albumView-style.css">
    <link rel="icon" href="..\..\..\assets/remixd-logo.png">
    <title>REMIXD - Albumn View</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
<main>
<!--logo/name-->
<div class="container">
    <div class="row">
        <div class="col-2">
            <img src="..\..\..\assets/remixd blue.png" id="logo" alt="REMIXD Logo" class="img-fluid" style="max-width: 40px">
        </div>
        <div class="col-9">
            <h2></h2>
        </div>
        <div class = "col-1">
            <img src="..\..\..\assets/account_circle.png" alt="account image" class="img-fluid" style="max-width: 40px">
        </div>
</div>

<p>
<p>

<!--Left hand col (return & image)-->
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-2">
                    <img src="..\..\..\assets/arrow-left.png" alt="left arrow" class="img-fluid" style="max-width:20px">
                </div>
                <div class="col-10">
                    <h6> RETURN TO SEARCH </h6>
                </div>
            </div>
            <div class = "row">
                <div class="col">
                    <img src="..\..\..\assets/artistPlaceholder.jpg" alt="artist image" class="img-fluid" style=" width: 60%;">
                </div>
            </div>
        </div>

    <!--Right hand col (artist info)-->
        <div class="col-6">
            <div class="row">
                <div class = "col">
                    <p>
                    <p>
                </div>
            </div>
            <div class="row">
                <div class = "col">
                    <h2>Title</h2>
                </div>
            </div>
            <div class="row">
                <div class = "col">
                    <h2>Artist</h2>
                </div>
            </div>
            <div class="row">
                <div class = "col">
                    <h4>Date Released</h4>
                </div>
            </div>
            <div class="row">
                <div class = "col">
                    <h4>Star rating placeholder</h4>
                </div>
            </div>
            <div class="row">
                <div class = "col">
                    <button type="button" class="btn" id="addRevB" data-bs-toggle="modal" data-bs-target="#addRev">
                        Add a review &#x2304;
                    </button>


                    <div class="modal fade" id="addRev" tabindex="-1" aria-labelledby="addRevLabel" aria-hidden="true">
                        <div class="modal-dialog" id="addRevStyle">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-10">
                                        <h3>Add a Review for:</h3>
                                    </div>
                                    <div class="col-1">
                                        <img src="albumnView-assets/heart.png" style="width:200%">
                                    </div>
                                    <div class="col-1">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-11">
                                        <h3>Title</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h5>Select Stars*</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <img src="albumnView-assets/starPlaceH.png">
                                    </div>
                                </div>
                                <p>
                                <p>
                                <div class="row">
                                    <div class="col">
                                        <h5>Write Review</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <textarea id="albumReview" name="albumReview" rows="8" cols="50"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-7">
                                    <p>
                                </div>
                                <div class="col-5">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">SUBMIT   -></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height:50px">

</div>

<!--Right hand col (tracklist)-->
<div class="container">
    <div class="row">
        <div class="col-5">
            <div class = "row">
                <div class = "col">
                    <h3>Tracklist</h3>
                </div>
            </div>
            <div class ="row">
                <div class="col">
                    <body> 
                        <ol>
                        <li>The Art of Loving (Intro)</li>
                        <li>Nice To Each Other</li>
                        <li>Lady Lady</li>
                        <li>Close Up</li>
                        <li>So Easy (To Fall In Love)</li>
                        <li>Let Alone The One You Love</li>
                        <li>Man I Need</li>
                        <li>Something Inbetween</li>
                        <li>Loud</li>
                        </ol>
                    </body>   
                </div>       
            </div>
        </div>
        <!--LINE HERE-->
        <div class="col-1">
            <img src="..\..\..\assets/line 1.png" alt="line" style="height: 500px">
        </div>
        <!--Right hand col (reviews)-->
        <div class = "col-6">
            <div class = "row">
                <div class = "col-6">
                    <h3>Reviews</h3>
                </div>
                <div class = "col-6" style="text-align: right;">
                    <!--page changer-->
                    <p>PAGE < > 1/2</p>
                </div>
            </div>
            <div class="row">
                <!--REVIEWS GO HERE - ADD CARD-->
                <div class="card container-fluid" id="card">
                    <div class="card-body">
                        <div class = "container">
                            <div class="row">
                                <div class="col-5">
                                    <!--make link to the usernames profile-->
                                    <h5>Username</h5>
                                </div>
                                <div class="col-5 text-right">
                                    <img src="albumnView-assets/starPlaceH.png" alt="stars PLACEHOLDER" style="width: clamp(25px, 8vw, 150px);">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <body>review</body>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="text-align:right;">
                                    <img src="albumnView-assets/heart.png">
                                    <img src="albumnView-assets/flag.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height:10%">
</div>
</main>
<footer>
    <div>
        <body> misc footer things (no foot fetishes here plz)</body>
    </div>
</footer>