<HTML>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/general.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/allAlbumView-style.css')}}">
    <link rel="icon" href="{{url_for('static', filename='assets/remixd-logo.png')}}">
    <title>REMIXD - Albumn View</title>
</head>
<script src="{{url_for('static', filename='js/allAlbumView-java.js')}}"></script>

<main style="height:100%; width: 100%">
<div class="container-fluid">
    <div class="row" style="height:100%;">
        <div class="col-4" id="sidebar">
            <!--LOGO AND FILERS-->
            <img src="{{url_for('static', filename='assets/remixd blue.png')}}" id="logo" alt="REMIXD Logo" class="img-fluid" style="max-width: 40px">
            <h2>REMIXD</h2>
            <p>
            <p>
            <form>
                <h4>Sort By:</h4>
                <div id="container">
                    <div id="row">
                        <div id="col-6">
                            <h6>Ratings: </h6>
                        </div>
                        <div id="col-6">
                            <select id="dropDown">
                                <option>High to Low</option>
                                <option>Low to High</option>
                            </select>
                            <img src="{{url_for('static', filename='assets/keyboard_arrow_down.png')}}">
                        </div>
                    </div>
                    <div id="row">
                        <div id="col-6">
                            <h6>Reviews: </h6>
                        </div>
                        <div id="col-6">
                            <select id="dropDown">
                                <option>High to Low</option>
                                <option>Low to High</option>
                            </select>
                            <img src="{{url_for('static', filename='assets/keyboard_arrow_down.png')}}">
                        </div>
                    </div>
                </div>
                <h4>Filter By:</h4>
                    <h6>Rating:</h6>
                    <h6>Review Date</h6>
            </form>        
        </div>
        <div class="col-8">
            <!--SEARCH AND ALBUMS-->
            <div class="container">
                <div class="row">
                    <div class="col-11">
                        <form>
                            <input type="text" id="search" name="search" value="      Search..." style="margin-top:10px"><br>
                        </form>
                    </div>
                    <div class="col-1">
                        <div class="dropdown" style="margin-top: 15px;">
                            <button onclick="menuDrop()" class="dropbtn" style="width: 40px; height: 40px;"></button>
                            <div id="myDropdown" class="menuContent">
                                <a href="">Login</a>
                                <a href="">Sign Up</a>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                <p>
                <div class="row" style="height: auto">
                    <div class="col d-flex flex-column">
                        <!--CARD NOTE FROM ALBUM VIEW-->
                        {% for album in albums %}
                            <div class="card" id="card">
                                <div class="card-body">
                                    <div class = "container">
                                        <div class="row">
                                            <div class="col-3">
                                                <img src="{{ album.albumArt }}" style="width: clamp(100px, 13vw, 200px); padding :5px;">
                                            </div>
                                            <div class="col-8" style="padding-left: 5%;">
                                                <!--make link to the album-->
                                                <div class="row">
                                                    <div class="col-5">
                                                        <h5>{{ album.strAlbum }}</h5>
                                                    </div>
                                                    <div class="col-4 text-right">
                                                        <img src="{{url_for('static', filename='assets/starPlaceH.png')}}" alt="stars PLACEHOLDER" style="max-width:100px;">
                                                    </div>
                                                    <div class="col-3">
                                                        <p>{{ album.avgRating }} ({{ album.numReviews }})</p>
                                                    </div>
                                                </div>
                                                <p>{{ album.strArtist }}</p>
                                                <p>
                                                <p>{{ album.intYearReleased }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
<footer>
    <body> foot feet feety foot </body>
</footer>
